<body class="demo-3">
		<div id="container" class="  intro-effect-sliced">
			<!-- Top Navigation -->
			
			<header class="header">
				<div class="bg-img"><img src="{{@blog.cover}}" alt="Background Image" /></div>
				<div class="title">
					
					<h1>{{@blog.title}}</h1>
					<img class="img-circle" src="{{@blog.logo}}">
					<p class="subline">{{@blog.description}}</p>
					<small class="subline">This Is an Orange Wave theme</small>
				</div>
				<div class="bg-img"><img src="{{@blog.cover}}" alt="Background Image" /></div>
			</header>
		  
			

			
					
		
		
	